@mixin image-container_size($radius) {
  height: $radius;
  width: $radius;
}

@mixin icon_size($length) {
  height: $length;
  width: $length;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-halftoned-color);
  background-size: cover;
  border-radius: 50%;
  font-size: 17px;
  background-color: var(--accent-color);

  &__color_gray {
    background-color: var(--background-secondary-color);
  }

  &__color_blue {
    background-color: var(--primary-color);
  }

  &__color_light-blue {
    background-color: var(--primary-color-lighter);
  }

  &__border {
    border: var(--image-border-line-width) solid var(--image-border-color);
  }

  &_clickable {
    cursor: pointer;
  }

  &_small {
    @include image-container_size(var(--image-small-1));
    font-size: 0.9em;
  }

  &_medium {
    @include image-container_size(var(--image-medium));
    font-size: 1em;
  }

  &_big {
    @include image-container_size(var(--image-big));
    font-size: 1.3333em;
  }

  &_large {
    @include image-container_size(var(--image-large));
    font-size: 4.1667em;
  }
}

.avatar {
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.icon {
  display: flex;
  align-items: center;
  justify-items: center;

  &_small{
    @include image-container_size(var(--icon-small))
  }

  &_big{
    @include image-container_size(var(--icon-big))
  }
}

.image-fallback {
  user-select: none;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
