.csat-iframe{
    position: absolute;
    margin: var(--meduim-gap);
    border-radius: 24px;
    z-index: 1000;
    border:2px solid var(--background-tertiary-color);
}

.csat {
    width: auto;
    height: auto;
    background-color: var(--background-secondary-color);

    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
    padding: 2em;

    &__question-text {
        color: var(--text-main-color);
    }

    &__answer-options {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    &__option-input {
        display: none;
    }

    &__option-label {
        display: inline-block;
        padding: 0.6em 1em;
        background-color: var(--background-tertiary-color);
        color: var(--text-muted-color);
        cursor: pointer;
    }

    &__option-input:checked + &__option-label {
        background-color: var(--primary-color);
        color: var(--text-main-color);
    }

    &__options-subscription {
        display: flex;
        flex-direction: row;

    }

    &__subscription-left {

    }

    &__subscription-right {
        align-self: end;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
    }

    &__next-button-div {
        margin-right: auto;
    }
    &__next-button-div {
        align-self: end;
    }
}
