.transaction{
  width: 100%;
  display: flex;
  flex-direction: column;

  &__card{
    display: flex;
    flex-direction: row;
    gap: var(--big-gap);
    align-items: center;
    padding: 12px;
    width: auto;
    border-radius: var(--radius-size-medium);
    transition: background-color 0.1s ease;

    &:hover{
      background-color: var(--background-secondary-color);
      cursor: pointer;
    }
  }

  &__date-details{
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    width: 10%;
  }

  &__date{
    color: var(--text-main-color);
  }

  &__day-of-week{
    color: var(--text-muted-color);
  }

  &__icon{
    height: 64px;
    width: 64px;
  }

  &__category-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    gap: var(--small-gap);
  }

  &__category{
    color: var(--text-main-color);
  }

  &__additional{
    display: flex;
    gap: var(--small-gap);
    color: var(--text-muted-color);
    word-wrap: break-word;
    overflow-wrap: break-word;

    &-icon{
      height: 24px;
      width: 24px;
    }
  }

  &__value{
    display: flex;
    width: 20%;
    height: auto;
    color: var(--text-main-color);
  }

  &__account{
    display: flex;
    width: 20%;
    height: auto;
    color: var(--text-main-color);
  }

  &__settings{
    display: flex;
    flex-direction: row;
    gap: var(--meduim-gap);
    margin-top: var(--card-padding);
    margin-bottom: var(--card-padding);

    &-column{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--meduim-gap);
    }
  }

  &__delete {
    color: var(--text-label-color);
    text-decoration: underline;

    &:hover{
      color: var(--error-color);
    }
  }
}
