.login-sign-up-layout {
    display: flex;
    height: 100%;
    width: 100%;
}

.login-sign-up-layout__form-container {
    display: flex;
    flex-direction: column;
    flex: 4;
    justify-content: center;
    padding: 0 10vmax;
    height: 100%;
    width: 100%;
}

.login-sign-up-layout__form {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.login-sign-up-layout__link-container {
    display: flex;
    justify-content: center;
    margin: 32px 0;
    color: var(--text-halftoned-color);
}

.login-sign-up-layout__link{
    margin-right: auto;
}

.login-sign-up-layout__greeting-container {
    display: flex;
    flex: 8;
    flex-direction: column;
    background-image: url('../../assets/images/imageLogin.svg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.login-sign-up-layout__greeting-text {
    margin: 0 5vmax;
    color: var(--text-main-color);
}

.login-sign-up-layout__greeting-text-h1 {
    font-size: 5vmax;
    font-weight: bolder;
    margin-bottom: 5px;
}

.login-sign-up-layout__greeting-text-base {
    font-size: 2vmax;
    margin: 0 10px;
}

.login-sign-up-layout__greeting-image{
    margin-top: auto;
    align-self: center;
    overflow: hidden;
}
