<div class="categories">
    <h3 class="font-h3-regular"> Создайте категорию</h3>
    <div class="categories__create-container">
        {{{input}}}
        {{{income}}}
        <div class="categories__create-button">
            {{{button}}}
        </div>
    </div>
    <h3 class="font-h3-regular"> Ваши категории</h3>
    <div class="categories__list">
        {{#each categoriesList}}
            {{{category}}}
        {{/each}}
    </div>
</div>
