:root {
    /*background color*/
    --background-main-color: #16161A;
    --background-secondary-color: #222226;
    --background-tertiary-color: #333437;

    /*brand colors*/
    --accent-color: #F4F6F9;
    --accent-70-color: #B1B3B6;
    --accent-50-color: #858689;

    --primary-color: #274292;
    --primary-color-lighter: #3d559d;
    --primary-color-darker: #233b83;
    --primary-color-muted: #546189;

    --secondary-color: #0c0717;
    --secondary-color-lighter: #24202e;
    --secondary-color-darker: #0a0612;
    --secondary-color-muted: #423e4b;

    /*informational colors*/
    --succes-color: #3E8914;
    --warning-color: #FCBA04;
    --error-color: #BB2E2E;
    --info-color: #016FB9;

    /*text color*/
    --text-main-color: var(--accent-color);
    --text-muted-color: var(--accent-70-color);
    --text-halftoned-color: var(--accent-50-color);

    --text-label-color: var(--accent-70-color); /* <- from this, till the nex comment is for input*/
    --text-input-color: #626465;
    --text-helper-color: #767879;

    --text-label-disabled-color: var(--background-tertiary-color);
    --text-input-disabled-color: #565758;
    --text-helper-disabled-color: #363738; /* end of input texts*/


    /*buttons*/
    --button-primary-default-color: var(--primary-color);
    --button-primary-hover-color: var(--primary-color-lighter);
    --button-primary-focus-color: var(--primary-color-darker);
    --button-primary-active-color: var(--primary-color-lighter);
    --button-primary-disabled-color: var(--primary-color-muted);

    --button-secondary-default-color: var(--secondary-color);
    --button-secondary-hover-color: var(--secondary-color-lighter);
    --button-secondary-focus-color: var(--secondary-color-darker);
    --button-secondary-active-color: var(--secondary-color-lighter);
    --button-secondary-disabled-color: var(--secondary-color-muted);

    /*input*/
    --input-primary-color: var(--background-main-color);
    --input-primary-error-color: var(--error-color);
    --input-border-color: var(--background-tertiary-color);
    --input-border-error-color: var(--error-color);
    --input-focus-color: #687BB3;

    /*border radius*/
    --radius-size-small: 12px;
    --radius-size-medium: 16px;
    --radius-size-large: 20px;

    /*buttons size*/
    --button-padding-small: 13px 16px;
    --button-padding-medium: 17px 16px;
    --button-padding-large: 21px 20px;
    --buttons-minimal-width: 128px;

    /*input size*/
    --input-padding-small: 13px 16px;
    --input-padding-medium: 17px 16px;
    --input-padding-large: 21px 20px;
    --inputs-minimal-width: 128px;

    /*card sizes*/
    --card-status-height: 16px;
    --card-status-width: 16px;
    --card-padding: 24px;

    /*list sizes*/
    --list-divider-margin: 12px;
    --list-divider-height: 2px;
    --list-margin-top: 24px;

    /*sidebar sizes*/
    --sidebar-width: 260px;

    --sidebar-header-height: 100px;
    --sidebar-header-padding: 16px;
    --sidebar-header-logo-size: 40px;
    --sidebar-header-logo-margin: 4px;

    --sidebar-container-padding: 8px 0;
    --sidebar-menu-header-padding: 8px 24px;
    --sidebar-menu-header-list-padding: 4px 16px;

    --sidebar-footer-height: 230px;
    --sidebar-footer-reminder-margin: 16px;
    --sidebar-footer-profile-container-padding: 40px 16px;;
    --sidebar-footer-profile-size: 64px;
    --sidebar-footer-profile-margin: 12px;
    --sidebar-footer-profile-radius: 100%;

    /*menu sizes*/
    --menu-item-padding: 8px 16px;
    --menu-item-margin: 4px;
    --menu-icon-size: 32px;
    --menu-icon-margin: 10px;

    //image colors
    --image-border-color: var(--background-tertiary-color);

    //image sizes
    --image-small-1: 44px;
    --image-small-2: 48px;
    --image-medium: 64px;
    --image-large: 200px;

    --image-border-line-width: 1px;

    //icon sizes
    --icon-small: 24px;
    --icon-big: 32px;
}
