:root {
    /*text color*/
    --text-main-color: #F4F6F9;
    --text-muted-color: #B1B3B6;
    --text-halftoned-color: #858689;

    /*background color*/
    --background-main-color: #16161A;
    --background-secondary-color: #222226;
    --background-tertiary-color: #333437;

    /*brand color*/
    --primary-color: #274292;
    --primary-color-lighter: #3d559d;
    --primary-color-darker: #233b83;
    --primary-color-muted: #546189;

    --secondary-color: #0c0717;
    --secondary-color-lighter: #24202e;
    --secondary-color-darker: #0a0612;
    --secondary-color-muted: #423e4b;

    /*buttons*/
    --button-primary-default-color: var(--primary-color);
    --button-primary-hover-color: var(--primary-color-lighter);
    --button-primary-focus-color: var(--primary-color-darker);
    --button-primary-active-color: var(--primary-color-lighter);
    --button-primary-disabled-color: var(--primary-color-muted);

    --button-secondary-default-color: var(--secondary-color);
    --button-secondary-hover-color: var(--secondary-color-lighter);
    --button-secondary-focus-color: var(--secondary-color-darker);
    --button-secondary-active-color: var(--secondary-color-lighter);
    --button-secondary-disabled-color: var(--secondary-color-muted);

    /*informational colors*/
    --succes-color: #3E8914;
    --warning-color: #FCBA04;
    --error-color: #BB2E2E;
    --info-color: #016FB9;


    /*border radius*/
    --radius-size-small: 12px;
    --radius-size-medium: 16px;
    --radius-size-large: 20px;

    /*buttons size*/
    --button-padding-small: 13px 16px;
    --button-padding-medium: 17px 16px;
    --button-padding-large: 21px 20px;
    --buttons-minimal-width: 128px
}
