<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>

    <link rel="stylesheet" href="../../../index.css">
    <link rel="stylesheet" href="sidebar.css">

</head>
<body style="height: 100vh">

<aside class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__header-container">
            <img class="sidebar__header-logo" alt="logo" src="../../../assets/icons/Search.svg"></img>
            <span class="sidebar__header-text font-h1-bold">Hammy wallet</span>
        </div>
    </div>
    <nav class="sidebar__container">

    </nav>
    <div class="sidebar__footer">
        <div class="sidebar__footer-reminder"></div>
        <div class="sidebar__footer-profile-container">
            <img class="sidebar__footer-profile-img" src="../../../assets/images/peopleLoginReg.svg"
                 alt="Profile image"></img>
            <span class="sidebar__footer-profile-name font-base-text">Profile name</span>
        </div>
    </div>
</aside>

<div class="layout"></div>

<div class="layout"></div>

</body>
</html>
