.sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--background-main-color);
    border-right: 2px solid var(--background-secondary-color);

    @include desktop {
        width: auto;
    }

    @include mobile {
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: center;
        border-top: 2px solid var(--background-tertiary-color);
    }

    &__header {
        height: var(--sidebar-header-height);
        min-height: var(--sidebar-header-height);
        display: flex;
        align-items: center;
        padding: var(--sidebar-header-padding);
        border-bottom: 2px solid var(--background-secondary-color);

        @include desktop {
            display: none;
        }
    }

    &__header-container {
        color: var(--text-main-color);
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
    }

    &__header-logo {
        height: var(--sidebar-header-logo-size);
        width: var(--sidebar-header-logo-size);
        align-items: center;
        justify-content: center;
        margin-right: var(--sidebar-header-logo-margin);
    }

    &__header-text {
        color: var(--text-main-color);
        text-decoration: none;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;

        @include desktop {
            display: none;
        }
    }

    &__container {
        display: flex;
        flex-grow: 1;
        padding: var(--sidebar-container-padding);
        flex-direction: column;

        @include mobile {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        margin-top: auto;

        @include mobile {
            display: none;
        }
    }

    &__footer-reminder {
        height: 100%;
        margin: var(--sidebar-footer-reminder-margin);
        background-color: var(--background-tertiary-color);
        border-radius: var(--radius-size-small);
    }

    &__footer-reminder_hidden {
        visibility: hidden;
    }

    &__footer-profile-container {
        padding: var(--sidebar-footer-profile-container-padding);
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        border-top: 2px solid var(--background-secondary-color);

        @include desktop {
            padding: 16px;
        }
    }

    &__footer-profile-img {
        display: flex;
        margin-right: var(--sidebar-footer-profile-margin);

        @include desktop {
            margin: 0;
        }
    }

    &__footer-profile-name {
        color: var(--text-halftoned-color);
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: var(--sidebar-footer-profile-margin);

        @include desktop {
            display: none;
        }
    }

    &__footer-profile-exit{
        @include desktop {
            display: none;
        }
    }
}
