.sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--background-main-color);
    border-right: 2px solid var(--background-secondary-color);

    @include tablet {
        width: 100px;
    }

    @include mobile {
        display: none;
    }

    &__header {
        height: var(--sidebar-header-height);
        min-height: var(--sidebar-header-height);
        display: flex;
        align-items: center;
        padding: var(--sidebar-header-padding);
        border-bottom: 2px solid var(--background-secondary-color);
    }

    &__header-container {
        color: var(--text-main-color);
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
    }

    &__header-logo {
        height: var(--sidebar-header-logo-size);
        width: var(--sidebar-header-logo-size);
        align-items: center;
        justify-content: center;
        margin-right: var(--sidebar-header-logo-margin);
    }

    &__header-text {
        color: var(--text-main-color);
        text-decoration: none;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__container {
        display: flex;
        flex-grow: 1;
        padding: var(--sidebar-container-padding);
        flex-direction: column;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }

    &__footer-reminder {
        height: 100%;
        margin: var(--sidebar-footer-reminder-margin);
        background-color: var(--background-tertiary-color);
        border-radius: var(--radius-size-small);
    }

    &__footer-reminder_hidden {
        visibility: hidden;
    }

    &__footer-profile-container {
        padding: var(--sidebar-footer-profile-container-padding);
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        border-top: 2px solid var(--background-secondary-color);
    }

    &__footer-profile-img {
        display: flex;
        min-height: var(--sidebar-footer-profile-size);
        min-width: var(--sidebar-footer-profile-size);
        height: var(--sidebar-footer-profile-size);
        width: var(--sidebar-footer-profile-size);
        margin-right: var(--sidebar-footer-profile-margin);
    }

    &__footer-profile-name {
        color: var(--text-halftoned-color);
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: var(--sidebar-footer-profile-margin);

        @include small-tablet {
            display: none;
        }
    }
}

.menu {
    &__header {
        padding: var(--sidebar-menu-header-padding);
        color: var(--text-halftoned-color);
    }

    &__list {
        padding: var(--sidebar-menu-header-list-padding);
        margin: 0;
        list-style-type: none;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: var(--menu-item-margin);
        padding: var(--menu-item-padding);
        border-radius: var(--radius-size-small);
        user-select: none;

        &-icon {
            width: var(--menu-icon-size);
            height: var(--menu-icon-size);
            margin-right: var(--menu-icon-margin);
            fill: currentColor;
        }

        &-text {
            letter-spacing: 0.03em;
        }

        &_color {
            color: var(--text-muted-color);

            &:hover {
                color: var(--text-main-color);
                font-weight: 700;
                background-color: var(--primary-color);
                cursor: pointer;
            }

            &:active {
                color: var(--text-main-color);
                background-color: var(--primary-color);
            }

            &:focus {
                color: var(--text-main-color);
                background-color: var(--primary-color);
            }
        }
    }
}
