@mixin font-style($font-family, $font-size, $font-weight) {
  font-family: #{$font-family};
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0;
}

.font-h1-bold {
  @include font-style('Inter, sans-serif', 48px, 700);
}

.font-h1-medium {
  @include font-style('Inter, sans-serif', 48px, 500);
}

.font-h1-regular {
  @include font-style('Inter, sans-serif', 48px, 400);
}

.font-h2-medium {
  @include font-style('Inter, sans-serif', 36px, 500);
}

.font-h3-regular{
  @include font-style('Inter, sans-serif', 32px, 400);
}

.font-h4-medium{
  @include font-style('Inter, sans-serif', 24px, 500);
}

.font-h4-regular{
  @include font-style('Inter, sans-serif', 24px, 400);
}

.font-base-text {
  @include font-style('Rubik, sans-serif', 20px, 400);
}

.font-caption {
  @include font-style('Rubik, sans-serif', 16px, 400);
}
