.font-h1-bold {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.font-h1-medium {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.font-h1-regular {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.font-base-text {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.font-caption {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-muted-color);
}

<<<<<<< HEAD
.font-helper {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-muted-color);
=======
.font-link {
color: var(--Text-dark-50, #858689);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
>>>>>>> 2ebd66e (feature pages LoginOrSignUp)
}
