<div class="card card__new-year">
    <div class="card__heading">
        <div class="card__heading-text-container">
            <span class="card__headline-text card__new-year-text font-h2-medium">
                С наступающим!
            </span>
            <span class="card__headline-text card__new-year-text font-base-text">
                Хомяки поздравляют вас с наступающим новым годом! Пусть этот год останется для вас приятным воспоминанием, а наступающий окажется годом успехов!
            </span>
        </div>
    </div>
    <div class="blob__wrapper">
        <div class="blob"></div>
    </div>
</div>
{{{balance}}}
{{{budget}}}
{{{pieTransactions}}}
<div class="dashboard__chart-wrapper dashboard__bar-chart-wrapper" id="bar-cost-by-month">
    {{{barCostsByMonth}}}
</div>