.dashboard__chart-wrapper {
    grid-column: span 4;
    background-color: var(--background-secondary-color);
    border: 1px solid var(--background-tertiary-color);
    padding: var(--card-padding);
    border-radius: var(--radius-size-small);
}
.dashboard__bar-chart-wrapper {
    grid-column: span 8;
    grid-row: span 1;
    background-color: var(--background-secondary-color);
    padding: var(--card-padding);
    border-radius: var(--radius-size-small);
}