.category{
  width: 100%;
  display: flex;
  flex-direction: column;

  &__card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    height: 64px;
    width: auto;
    border-radius: var(--radius-size-medium);
    cursor: pointer;
    transition: background-color 0.1s ease;

    &:hover{
      background-color: var(--background-secondary-color);
    }
  }

  &__icon{
    height: 64px;
    width: 64px;
    margin-right: 40px;

    @include small-mobile {
      margin-right: 0;
    }
  }

  &__text{
    display: flex;
    width: auto;
    height: auto;
    margin-right: 24px;
    color: var(--text-main-color);
  }

  &__settings{
    user-select: none;
    cursor: pointer;
    margin-left: auto;
    width: auto;
    display: flex;
    margin-right: 8px;
    flex-direction: column;
  }

  &__delete {
    color: var(--text-label-color);
    text-decoration: underline;

    &:hover{
      color: var(--error-color);
    }
  }
}

.settings{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 48px;
}
