{{#each this.listItems}}
    <li class="list__item">
        <div class="list__item-container">
            <span class="list__item-title font-caption">{{this.listItemTitle}}</span>
            <span class="list__item-additional font-caption">{{this.listItemValue}} {{this.valueUnits}}</span>
        </div>
    </li>
{{/each}}
