@mixin input-size($padding, $min-width, $border-radius) {
  padding: $padding;
  min-width: $min-width;
  border-radius: $border-radius;
}

.input {
  color: var(--text-main-color);
  display: flex;
  background: var(--input-primary-color);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--input-border-color);
  transition: border-color 0.3s ease;

  &__container {
  }

  &__units{
    position: relative;
    bottom: 35px;
    left: calc(100% - 13px - 35px);
    color: var(--background-tertiary-color);
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }

  &:focus-within {
    border: 1px solid var(--input-focus-color);
  }

  &_small {
    @include input-size(var(--input-padding-small), var(--inputs-minimal-width), var(--radius-size-small));
  }

  &_medium {
    @include input-size(var(--input-padding-medium), var(--inputs-minimal-width), var(--radius-size-medium));
  }

  &_large {
    @include input-size(var(--input-padding-large), var(--inputs-minimal-width), var(--radius-size-large));
  }

  &__text-padding-right {
    padding-left: 10px;
  }

  &__text-padding-left {
    padding-left: 30px;
  }

  &_radius-small {
    border-radius: var(--radius-size-small);
  }

  &_radius-medium {
    border-radius: var(--radius-size-medium);
  }

  &_radius-large {
    border-radius: var(--radius-size-large);
  }

  &_error {
    border: 1px solid var(--error-color);
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
  }

  &__icon-right {
    right: 10px;
  }

  &__icon-left {
    left: 10px;
  }

  &__label {
    margin-bottom: 4px;
    color: var(--text-muted-color)
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--text-muted-color);
  }

  &__helper {
    &_error {
      color: var(--error-color)
    }
  }
}
