/* Input Container */
.input-container {
    position: relative;
    display: inline-block;

    height: auto;
    width: 70%;

    background-color: var(--input-primary-color);
    border: 1px solid var(--input-border-color);
    transition: border-color 0.3s ease;
}

.input-container:focus-within {
    border: 1px solid var(--input-focus-color); /* Change the border color as desired */
}

/* Input */
.input {
    background: transparent;
    border: 0px;

    width: 100%;
}

.input:focus {
    outline: none;
}

/* Placeholder */
.input::placeholder {
    color: var(--text-muted-color);
}

.input__text {
    /*text input*/
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;

    color: var(--text-main-color);

    margin-left: 8px;
    margin-right: 8px;
}

.input__text-padding-right {
    padding-left: 10px;
}

.input__text-padding-left {
    padding-left: 30px;
}

.input_small {
    padding: var(--input-padding-small);
    min-width: var(--inputs-minimal-width);
    border-radius: var(--radius-size-small);
}

.input_medium {
    padding: var(--input-padding-medium);
    min-width: var(--inputs-minimal-width);
    border-radius: var(--radius-size-medium);
}

.input_large {
    padding: var(--input-padding-large);
    min-width: var(--inputs-minimal-width);
    border-radius: var(--radius-size-large);
}

.input_radius-small {
    border-radius: var(--radius-size-small);
}

.input_radius-medium {
    border-radius: var(--radius-size-medium);
}

.input_radius-large {
    border-radius: var(--radius-size-large);
}

.input-error {  
    border: 1px solid var(--error-color);
}

/* Search Icon */
.input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:  2em;
    height: 2em;
}

.input__icon-right {
    right: 10px;
}

.input__icon-left {
    left: 10px;
}

/* Kg */
.input__label {
    top: 8px;
    color: var(--text-muted-color)
}


