.bar-chart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main-color);
    flex-direction: column;

    &__text-above {
    }

    &__text-below {
    }

    &__tooltip {
        position: absolute;
        display: none;
        background-color: var(--background-tertiary-color);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        font-size: 1.2em;
        white-space: nowrap;
        // white-space: pre-wrap;

        transform: translateX(-50%) translateY(-150%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            border: 1em solid;
            transform: translateX(-50%);
            border-color: var(--background-tertiary-color) transparent transparent transparent;
        }

        &-paragraph {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__chart-stack {
        &:hover {
            filter: brightness(0.8);
        }
        transition: filter 0.25s ease;
    }
}