.transactions{
  color: var(--text-main-color);
  grid-column: span 12;
  height: 100%;

  &__create-container{
    margin: 24px 0 48px 0;
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  &__inputs{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
