.transactions{
  color: var(--text-main-color);
  grid-column: span 12;
  height: 100%;

  &__create-container{
    margin: 24px 0 48px 0;
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
  }

  &__create-button {
    margin-left: auto;
  }

  &__name-with-button{
    margin-bottom: var(--meduim-gap);
  }

  &__filter-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: var(--big-gap);
    margin-bottom: var(--meduim-gap);

    @include small-mobile {
      flex-direction: column;
      gap: var(--meduim-gap);
    }
  }

  &__filter-column{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--meduim-gap);
  }

  &__filter-checkboxes{
    display: flex;
    gap: var(--meduim-gap)
  }

  &__filter-submit{
    margin-left: auto;
  }

  &__name-with-button{
    display: flex;
    flex-direction: row;
    gap: var(--meduim-gap);
    align-items: center;
  }

  &__inputs{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--big-gap);

    @include small-mobile {
      flex-direction: column;
      gap: var(--meduim-gap);
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: var(--meduim-gap);
    padding-bottom: 80px;
  }
}
