.menu {
  &__header {
    padding: var(--sidebar-menu-header-padding);
    color: var(--text-halftoned-color);
  }

  &__list {
    padding: var(--sidebar-menu-header-list-padding);
    margin: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: var(--menu-item-margin);
    padding: var(--menu-item-padding);
    border-radius: var(--radius-size-small);
    user-select: none;
    color: var(--text-muted-color);

    &-icon {
      width: var(--menu-icon-size);
      height: var(--menu-icon-size);
      margin-right: var(--menu-icon-margin);
    }

    &:hover {
      color: var(--text-main-color);
      background-color: var(--primary-color);
      cursor: pointer;
    }

    &:active {
      color: var(--text-main-color);
      background-color: var(--primary-color);
    }

    &:focus {
      color: var(--text-main-color);
      background-color: var(--primary-color);
    }
  }
}
