.profile {
  display: flex;
  flex-direction: column;
  gap: 48px;
  grid-column: span 12;
  grid-row: span 3;

  &__cards-container {
    display: flex;
    gap: 24px;
  }

  &__edit-container {
    display: flex;
    justify-content: space-between;
  }

  &__button-container {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 50%;
  }

  &__avatar {
    width: 25%;
  }

  &__avatar-heading {
    color: var(--text-main-color);
  }

  &__avatar-subhead {
    color: var(--text-label-color);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;

  &__heading {
    color: var(--text-main-color);
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
  }
}
