.profile {
  display: flex;
  flex-direction: column;
  gap: var(--big-gap);
  grid-column: span 12;
  grid-row: span 3;

  &__cards-container {
    display: flex;
    gap: var(--meduim-gap);

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  &__edit-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;

    @include tablet {
      flex-direction: column-reverse;
      padding-bottom: 24px;
    }
  }

  &__button-container {}

  &__input-container {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
    width: 50%;

    @include tablet {
      margin-top: var(--big-gap);
      width: auto;
    }
  }

  &__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--image-large);
    max-height: var(--image-large);

    @include tablet {
      margin: 0 auto;
    }
  }

  &__avatar-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: var(--meduim-gap);

    @include tablet {
      width: auto;
    }
  }

  &__avatar-heading {
    color: var(--text-main-color);
  }

  &__avatar-subhead {
    color: var(--text-label-color);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--meduim-gap);
  margin: 0;

  &__heading {
    color: var(--text-main-color);
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: var(--meduim-gap);
    margin: 0;
  }
}

.upload-form {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 10px;

	color: var(--text-main-color);
	cursor: pointer;
	text-align: left;
	background: var(--background-main-color);
	overflow: hidden;
	border-radius: var(--radius-size-small);
  border:1px solid var(--input-border-color);

  &__button {
    background: var(--button-card-default-hover-color);
	  padding: 10px;
	  display: inline-block;
  }

  &__filename {
    display: inline-block;
	  padding: 10px;
  }

  &__input {
    display: none;
  }

  &:hover {
    background: var(--button-card-default-hover-color);
	  transition: all 0.5s ease-in-out;
	  -moz-transition: all 0.5s ease-in-out;
	  -webkit-transition: all 0.5s ease-in-out;
	  -o-transition: all 0.5s ease-in-out;
  }
}
