.login-form{
    display: flex;
    flex-direction: column;
    gap: var(--meduim-gap);
    color: var(--text-main-color);

    &__submit-button{
        display: flex;
        width: auto;
        filter: drop-shadow(0 0 48px var(--background-main-color));
    }
}
