.accounts {
    display: flex;
    color: var(--text-main-color);
    grid-column: span 12;
    
    &__yours {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 1em;
    }

    &__yours-header {
        // color: var(--text-main-color)
    }
    
    &__configure-header {
        // color: var(--text-main-color)
    }

    &__account {
        display: flex;
        justify-content: space-between;

        &_selected {
            background-color: var(--background-secondary-color);
        }
    }
    
    &__account-name {
        // color: var(--text-main-color)
    }
    
    &__account-balance {
        // color: var(--text-main-color)
    }

    &__configure-account {
        display: flex;
        flex-direction: column;
        gap: var(--meduim-gap);
    }

    &__create-account {
        display: flex;
        flex-direction: column;
    }


}