@mixin background-image ($image-url){
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url($image-url);
    filter: blur(2em) brightness(0.835);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-sign-up-layout {
    display: flex;
    height: 100%;
    width: 100%;

    &__login-background-image{
        @include background-image('@images/loginPage.svg');
    }

    &__signup-background-image{
        @include background-image('@images/loginPage.svg');
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        flex: 4;
        justify-content: center;
        padding: 0 10vmax;
        height: 100%;
        width: 100%;
    }

    &__form {
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 32px 0;
        color: var(--text-halftoned-color);
    }

    &__link {
        margin-right: auto;
    }

    &__greeting-text {
        display: flex;
        flex-direction: column;
        flex: 8;
        justify-content: center;
        height: 100%;
        color: var(--text-main-color);

        &-h1 {
            font-size: 5vmax;
            font-weight: bolder;
            margin-bottom: 5px;
        }

        &-base {
            font-size: 2vmax;
            margin: 0 10px;
        }
    }
}
