:root {
  /*background color*/
  --background-main-color: #16161A;
  --background-secondary-color: #222226;
  --background-tertiary-color: #333437;
  /*brand colors*/
  --accent-color: #F4F6F9;
  --accent-70-color: #B1B3B6;
  --accent-50-color: #858689;
  --primary-color: #274292;
  --primary-color-lighter: #3d559d;
  --primary-color-darker: #233b83;
  --primary-color-muted: #546189;
  --secondary-color: #0c0717;
  --secondary-color-lighter: #24202e;
  --secondary-color-darker: #0a0612;
  --secondary-color-muted: #423e4b;
  /*informational colors*/
  --succes-color: #3E8914;
  --warning-color: #FCBA04;
  --error-color: #BB2E2E;
  --info-color: #016FB9;
  /*text color*/
  --text-main-color: var(--accent-color);
  --text-muted-color: var(--accent-70-color);
  --text-halftoned-color: var(--accent-50-color);
  --text-label-color: var(--accent-70-color); /* <- from this, till the nex comment is for input*/
  --text-input-color: #626465;
  --text-helper-color: #767879;
  --text-label-disabled-color: var(--background-tertiary-color);
  --text-input-disabled-color: #565758;
  --text-helper-disabled-color: #363738; /* end of input texts*/
  /*buttons*/
  --button-primary-default-color: var(--primary-color);
  --button-primary-hover-color: var(--primary-color-lighter);
  --button-primary-focus-color: var(--primary-color-darker);
  --button-primary-active-color: var(--primary-color-lighter);
  --button-primary-disabled-color: var(--primary-color-muted);
  --button-secondary-default-color: var(--secondary-color);
  --button-secondary-hover-color: var(--secondary-color-lighter);
  --button-secondary-focus-color: var(--secondary-color-darker);
  --button-secondary-active-color: var(--secondary-color-lighter);
  --button-secondary-disabled-color: var(--secondary-color-muted);
  /*input*/
  --input-primary-color: var(--background-main-color);
  --input-primary-error-color: var(--error-color);
  --input-border-color: var(--background-tertiary-color);
  --input-border-error-color: var(--error-color);
  --input-focus-color: #687BB3;
  /*border radius*/
  --radius-size-small: 12px;
  --radius-size-medium: 16px;
  --radius-size-large: 20px;
  /*buttons size*/
  --button-padding-small: 13px 16px;
  --button-padding-medium: 17px 16px;
  --button-padding-large: 21px 20px;
  --buttons-minimal-width: 128px;
  /*input size*/
  --input-padding-small: 13px 16px;
  --input-padding-medium: 17px 16px;
  --input-padding-large: 21px 20px;
  --inputs-minimal-width: 128px;
  /*card sizes*/
  --card-status-height: 16px;
  --card-status-width: 16px;
  --card-padding: 24px;
  /*list sizes*/
  --list-divider-margin: 12px;
  --list-divider-height: 2px;
  --list-margin-top: 24px;
  /*sidebar sizes*/
  --sidebar-width: 260px;
  --sidebar-header-height: 100px;
  --sidebar-header-padding: 16px;
  --sidebar-header-logo-size: 40px;
  --sidebar-header-logo-margin: 4px;
  --sidebar-container-padding: 8px 0;
  --sidebar-menu-header-padding: 8px 24px;
  --sidebar-menu-header-list-padding: 4px 16px;
  --sidebar-footer-height: 230px;
  --sidebar-footer-reminder-margin: 16px;
  --sidebar-footer-profile-container-padding: 40px 16px;
  --sidebar-footer-profile-size: 64px;
  --sidebar-footer-profile-margin: 12px;
  --sidebar-footer-profile-radius: 100%;
  /*menu sizes*/
  --menu-item-padding: 8px 16px;
  --menu-item-margin: 4px;
  --menu-icon-size: 32px;
  --menu-icon-margin: 10px;
  --image-border-color: var(--background-tertiary-color);
  --image-small-1: 44px;
  --image-small-2: 48px;
  --image-medium: 64px;
  --image-large: 200px;
  --image-border-line-width: 1px;
  --icon-small: 24px;
  --icon-big: 32px;
}

.font-h1-bold {
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.font-h1-medium {
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

.font-h1-regular {
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}

.font-h2-medium {
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.font-h3-regular {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.font-base-text {
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.font-caption {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-halftoned-color);
  background-color: var(--background-secondary-color);
  background-size: cover;
  border-radius: 50%;
  font-size: 17px;
}
.image-container__border {
  border: var(--image-border-line-width) solid var(--image-border-color);
}
.image-container_clickable {
  cursor: pointer;
}
.image-container_small-1 {
  height: var(--image-small-1);
  width: var(--image-small-1);
  font-size: 0.9em;
}
.image-container_small-2 {
  height: var(--image-small-2);
  width: var(--image-small-2);
  font-size: 1em;
}
.image-container_medium {
  height: var(--image-medium);
  width: var(--image-medium);
  font-size: 1.3333em;
}
.image-container_large {
  height: var(--image-large);
  width: var(--image-large);
  font-size: 4.1667em;
}

.avatar {
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.icon {
  display: flex;
  align-items: center;
  justify-items: center;
}
.icon_small {
  height: var(--icon-small);
  width: var(--icon-small);
}
.icon_big {
  height: var(--icon-big);
  width: var(--icon-big);
}

.image-fallback {
  user-select: none;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.button {
  border: none;
  outline: none;
  text-align: center;
  display: inline-block;
  transition: 0.2s;
}
.button__text {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  margin-left: 8px;
  margin-right: 8px;
}
.button__icon {
  max-width: 24px;
  max-height: 24px;
}
.button.button_small {
  padding: var(--button-padding-small);
  border-radius: var(--radius-size-small);
}
.button.button_medium {
  padding: var(--button-padding-medium);
  border-radius: var(--radius-size-medium);
}
.button.button_large {
  padding: var(--button-padding-large);
  border-radius: var(--radius-size-large);
}
.button.button_radius-small {
  border-radius: var(--radius-size-small);
}
.button.button_radius-medium {
  border-radius: var(--radius-size-medium);
}
.button.button_radius-large {
  border-radius: var(--radius-size-large);
}
.button.button_primary-color {
  background: var(--button-primary-default-color);
}
.button.button_primary-color:hover {
  background: var(--button-primary-hover-color);
  cursor: pointer;
}
.button.button_primary-color:focus {
  background: var(--button-primary-focus-color);
}
.button.button_primary-color:active {
  outline: none;
  background: var(--button-primary-active-color);
  box-shadow: 0 0 0 4px var(--button-primary-focus-color);
}
.button.button_primary-color:disabled {
  background: var(--button-primary-disabled-color);
  cursor: auto;
}
.button.button_secondary-color {
  background: var(--button-secondary-default-color);
}
.button.button_secondary-color:hover {
  background: var(--button-secondary-hover-color);
  cursor: pointer;
}
.button.button_secondary-color:focus {
  background: var(--button-secondary-focus-color);
}
.button.button_secondary-color:active {
  outline: none;
  background: var(--button-secondary-active-color);
  box-shadow: 0 0 0 4px var(--button-secondary-focus-color);
}
.button.button_secondary-color:disabled {
  background: var(--button-secondary-disabled-color);
  cursor: auto;
}

.input-container {
  background-color: var(--input-primary-color);
}

.input {
  color: var(--text-main-color);
  display: flex;
  background: var(--input-primary-color);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--input-border-color);
  transition: border-color 0.3s ease;
}
.input:focus-within {
  border: 1px solid var(--input-focus-color);
}
.input_small {
  padding: var(--input-padding-small);
  min-width: var(--inputs-minimal-width);
  border-radius: var(--radius-size-small);
}
.input_medium {
  padding: var(--input-padding-medium);
  min-width: var(--inputs-minimal-width);
  border-radius: var(--radius-size-medium);
}
.input_large {
  padding: var(--input-padding-large);
  min-width: var(--inputs-minimal-width);
  border-radius: var(--radius-size-large);
}
.input__text-padding-right {
  padding-left: 10px;
}
.input__text-padding-left {
  padding-left: 30px;
}
.input_radius-small {
  border-radius: var(--radius-size-small);
}
.input_radius-medium {
  border-radius: var(--radius-size-medium);
}
.input_radius-large {
  border-radius: var(--radius-size-large);
}
.input_error {
  border: 1px solid var(--error-color);
}
.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  height: 2em;
}
.input__icon-right {
  right: 10px;
}
.input__icon-left {
  left: 10px;
}
.input__label {
  top: 8px;
  color: var(--text-muted-color);
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: var(--text-muted-color);
}

.input-helper_error {
  color: var(--error-color);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: var(--list-margin-top) 0 0;
}
.list__item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.list__item-title {
  flex-grow: 1;
  text-align: left;
  color: var(--text-halftoned-color);
}
.list__item-additional {
  text-align: right;
  color: var(--text-halftoned-color);
}
.list__item:not(:last-child)::after {
  content: "";
  display: block;
  height: var(--list-divider-height);
  width: 100%;
  background-color: var(--background-tertiary-color);
  margin-top: var(--list-divider-margin);
  margin-bottom: var(--list-divider-margin);
}

.menu__header {
  padding: var(--sidebar-menu-header-padding);
  color: var(--text-halftoned-color);
}
.menu__list {
  padding: var(--sidebar-menu-header-list-padding);
  margin: 0;
  list-style-type: none;
}
.menu__item {
  display: flex;
  align-items: center;
  margin: var(--menu-item-margin);
  padding: var(--menu-item-padding);
  border-radius: var(--radius-size-small);
  user-select: none;
}
.menu__item-icon {
  width: var(--menu-icon-size);
  height: var(--menu-icon-size);
  margin-right: var(--menu-icon-margin);
  fill: currentColor;
}
.menu__item-text:hover {
  font-weight: 700;
}
.menu__item_color {
  color: var(--text-muted-color);
}
.menu__item_color:hover {
  color: var(--text-main-color);
  font-weight: 700;
  background-color: var(--primary-color);
  cursor: pointer;
}
.menu__item_color:active {
  color: var(--text-main-color);
  background-color: var(--primary-color);
}
.menu__item_color:focus {
  color: var(--text-main-color);
  background-color: var(--primary-color);
}

.button-card {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--card-padding);
  border-radius: var(--radius-size-medium);
}
.button-card__icon-container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: auto;
  width: auto;
}
.button-card__icon {
  height: 32px;
  width: 32px;
}
.button-card__counter {
  color: var(--text-main-color);
  margin-right: 12px;
}
.button-card__text-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.button-card__description {
  color: var(--text-muted-color);
}
.button-card__text {
  color: var(--text-main-color);
}
.button-card_accent-color {
  border: 1px solid var(--primary-color-lighter);
  background-color: var(--primary-color);
}
.button-card_default-color {
  border: 1px solid var(--background-tertiary-color);
  background-color: var(--background-secondary-color);
}

.card {
  background: var(--background-secondary-color);
  padding: var(--card-padding);
}
.card__content {
  overflow: hidden;
}
.card__heading {
  overflow: hidden;
}
.card__heading-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  float: left;
}
.card__headline-text {
  color: var(--text-main-color);
}
.card__subhead-text {
  color: var(--text-muted-color);
}
.card__status {
  float: right;
  height: var(--card-status-height);
  width: var(--card-status-width);
  border-radius: 100%;
}
.card__status_good {
  background-color: var(--succes-color);
}
.card__status_warning {
  background-color: var(--warning-color);
}
.card__status_bad {
  background-color: var(--error-color);
}
.card_small {
  grid-column: span 4;
  border-radius: var(--radius-size-small);
}
.card_medium-vertical {
  grid-row: span 2;
  grid-column: span 4;
  border-radius: var(--radius-size-small);
}
.card_medium-horizontal {
  grid-column: span 8;
  border-radius: var(--radius-size-small);
}
.card_big {
  grid-row: span 2;
  grid-column: span 8;
  border-radius: var(--radius-size-small);
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100%;
  width: var(--sidebar-width);
  background-color: var(--background-secondary-color);
}
.sidebar__header {
  height: var(--sidebar-header-height);
  min-height: var(--sidebar-header-height);
  display: flex;
  align-items: center;
  padding: var(--sidebar-header-padding);
}
.sidebar__header-container {
  color: var(--text-muted-color);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}
.sidebar__header-logo {
  height: var(--sidebar-header-logo-size);
  width: var(--sidebar-header-logo-size);
  align-items: center;
  justify-content: center;
  margin-right: var(--sidebar-header-logo-margin);
}
.sidebar__header-text {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar__container {
  display: flex;
  flex-grow: 1;
  padding: var(--sidebar-container-padding);
  flex-direction: column;
}
.sidebar__footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.sidebar__footer-reminder {
  height: 100%;
  margin: var(--sidebar-footer-reminder-margin);
  background-color: var(--background-tertiary-color);
  border-radius: var(--radius-size-small);
}
.sidebar__footer-reminder_hidden {
  visibility: hidden;
}
.sidebar__footer-profile-container {
  padding: var(--sidebar-footer-profile-container-padding);
  background-color: var(--background-tertiary-color);
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
}
.sidebar__footer-profile-img {
  object-fit: cover;
  object-position: center;
  height: var(--sidebar-footer-profile-size);
  width: var(--sidebar-footer-profile-size);
  border-radius: var(--sidebar-footer-profile-radius);
  margin-right: var(--sidebar-footer-profile-margin);
}
.sidebar__footer-profile-name {
  color: var(--text-halftoned-color);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 40px;
}

.menu__header {
  padding: var(--sidebar-menu-header-padding);
  color: var(--text-halftoned-color);
}
.menu__list {
  padding: var(--sidebar-menu-header-list-padding);
  margin: 0;
  list-style-type: none;
}
.menu__item {
  display: flex;
  align-items: center;
  margin: var(--menu-item-margin);
  padding: var(--menu-item-padding);
  border-radius: var(--radius-size-small);
  user-select: none;
}
.menu__item-icon {
  width: var(--menu-icon-size);
  height: var(--menu-icon-size);
  margin-right: var(--menu-icon-margin);
  fill: currentColor;
}
.menu__item-text {
  letter-spacing: 0.03em;
}
.menu__item_color {
  color: var(--text-muted-color);
}
.menu__item_color:hover {
  color: var(--text-main-color);
  font-weight: 700;
  background-color: var(--primary-color);
  cursor: pointer;
}
.menu__item_color:active {
  color: var(--text-main-color);
  background-color: var(--primary-color);
}
.menu__item_color:focus {
  color: var(--text-main-color);
  background-color: var(--primary-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--text-main-color);
}

.layout {
  background-color: var(--background-main-color);
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
}

.grid {
  width: 100%;
  height: 100%;
  margin: 80px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-flow: row dense;
}

.login-sign-up-layout {
  display: flex;
  height: 100%;
  width: 100%;
}
.login-sign-up-layout__form-container {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;
  padding: 0 10vmax;
  height: 100%;
  width: 100%;
}
.login-sign-up-layout__form {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}
.login-sign-up-layout__link-container {
  display: flex;
  justify-content: center;
  margin: 32px 0;
  color: var(--text-halftoned-color);
}
.login-sign-up-layout__link {
  margin-right: auto;
}
.login-sign-up-layout__greeting-container {
  display: flex;
  flex: 8;
  flex-direction: column;
  background-image: url("@images/imageLogin.svg");
  background-size: cover;
  background-position: center;
  height: 100%;
}
.login-sign-up-layout__greeting-text {
  margin: 0 5vmax;
  color: var(--text-main-color);
}
.login-sign-up-layout__greeting-text-h1 {
  font-size: 5vmax;
  font-weight: bolder;
  margin-bottom: 5px;
}
.login-sign-up-layout__greeting-text-base {
  font-size: 2vmax;
  margin: 0 10px;
}
.login-sign-up-layout__greeting-image {
  margin-top: auto;
  align-self: center;
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 48px;
  grid-column: span 12;
}
.profile__cards-container {
  display: flex;
  gap: 24px;
}
.profile__edit-container {
  display: flex;
  justify-content: space-between;
}
.profile__form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
}
.profile__avatar {
  width: 25%;
}
.profile__avatar-heading {
  color: var(--text-main-color);
}
.profile__avatar-subhead {
  color: var(--text-label-color);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
}
.form-group__heading {
  color: var(--text-main-color);
}
.form-group__input {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
}

body {
  background-color: var(--background-main-color);
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: auto;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

/*# sourceMappingURL=index.css.map */
