@import "styles/dark_theme/theme";
@import "styles/media";
@import "styles/fonts";
@import "components/components";
@import "views/views";

body {
    background-color: var(--background-main-color);
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: auto;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
