{{{sidebar}}}
<div class="layout">
    <div class="grid">
        {{{content}}}
    </div>
</div>
<iframe src="csat.html" sandbox="allow-scripts" style="height:350px;width:500px;border:none;overflow:hidden;" class="csat-iframe"></iframe>
